.carousel{
    height: 500px;
    position: relative;
}
.carousel:after{
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

}