.carousel{
    height: 500px;
    position: relative;
}
.carousel:after{
    content: "";
    display: block;
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;

}
.bonous{
    background-color: rgb(9, 180, 248);
    height: 200px;
}
.footer{
    background-color: black;
    height: 300px;
}
i{
    background-color: gray;
}
/* Mobile phone */ 
@media only screen and (max-width:767px) { 
    .image { 
        height: 330px; 
 
    } 
}